= form_for(@input, :html=>{:class=>"form-horizontal"}) do |f|
  -if @input.errors.any?
    #error_explanation
      %h2= "#{pluralize(@input.errors.count, "error")} prohibited this project from being saved:"
      %ol
        - @input.errors.full_messages.each do |msg|
          %li= msg
  = f.label 'When'
  = f.text_field :start_date
  = f.label 'Return'
  = f.text_field :return_date
  = f.label 'From'
  = f.text_field :departure
  = f.label 'To'
  = f.text_field :arrival
  = f.label 'Maximum price'
  = f.text_field :threshold
  = f.check_box :active
  = f.text_field :interval
  = f.submit
