%header{:class=>"navbar navbar-fixed-top"}
  -if @input
    %div.navbar-inner
    %div{:class=>"container navbar-inner"}
      -if current_user
        %ul{:class=>"nav pull-left"}
          %li#menu5.dropdown
            %a{:class=>"dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#menu2", "data-target"=>"#"}
              Signed in as #{current_user.email}
            %ul.dropdown-menu
              %li= link_to "Sign out", destroy_user_session_path, method: "delete"
              %li= link_to "Cancel registration", cancel_user_registration_path, method: "get"
              %li= link_to "User options", edit_user_registration_path, method: "get"
          %li
            %h1
              Prices
          
          %li
          
            -if @input.active
              %div=button_to "Stop", stop_input_path(@input), :method=>"get", :class => "btn btn-large btn-danger"
            -else
              %div=button_to "Start", start_input_path(@input), :method=>"get", :class => "btn btn-large btn-success"
        %ul{:class=>"nav pull-right"}
          %li
            %h2#updates
              Updated
          %li#menu2.dropdown
            %a{:class=>"dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#menu1", "data-target"=>"#"}
              Airports
            %ul.dropdown-menu
              %li= render "inputs/air_form"
          %li#menu3.dropdown
            %a{:class=>"dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#menu1", "data-target"=>"#"}
              Dates
            %ul.dropdown-menu
              %li= render "inputs/dates_form"
          %li#menu4.dropdown
            %a{:class=>"dropdown-toggle", "data-toggle"=>"dropdown", :href=>"#menu1", "data-target"=>"#"}
              Optional
            %ul.dropdown-menu
              %li= render "inputs/interval_form"
          %li
          %li
            %h1
              Flights

              
          
          
         




